// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$myapp-grey:   #fafafa;
$myapp-button-size: 1.2rem;

body {
    background: $myapp-grey;
}

.myapp {
    background: $myapp-grey;
}

.myapp-header .toolbar-title-md,
.myapp-header .toolbar-title-ios,{
    font-weight: lighter;
}


h4 {
    font-size: 1.4rem;
}

.heading {
    margin-bottom: 0;
}

.heading-para {
    color: #C0C0C0;
    margin-top: 0;
}

.dashboard-list {
    margin-top: 40px;
}
.dashboard-list .item {
    height: 90px;
    background: $myapp-grey;
}

.dashboard-list h3 {
    text-transform: uppercase;
}

.dashboard-list p {
    font-size: 1.2rem;
}

// Butons
.myapp-btn {
    border-radius: 25px;
    height: 40px;
    font-size: $myapp-button-size;
}

.item-md, 
.item-ios {
    background: $myapp-grey;
}
